/web/bundles/framework/
/web/bundles/ivoryckeditor/
/web/bundles/sensiodistribution/
/web/bundles/sonataadmin/
/web/bundles/sonatajquery/
/web/bundles/sonatamarkitup/
/web/bundles/sonatamedia/
/web/bundles/whiteoctoberpagerfanta/
/web/ckeditor/
/web/emoticons/
/app/bootstrap.php.cache
/app/cache/*
/app/logs/*
/build/
/vendor/
/bin/
