{% extends "PoaMainBundle::layout.html.twig" %}

{% block content %}
    <tr><td>
        <table width="94%" border="0" align="center" cellpadding="0" cellspacing="0" class="text">
            <!-- begin boxes -->
            <tr><td>
    {% for item in content %}
        {#{{ item.getText | bbcode_filter('my_default_filter') | ladybug_dump }}#}
        <p><div>{{ item.getText | bbcode_filter('my_default_filter') | raw }}</div></p>
    {% endfor %}
            </td></tr>
            <!-- end boxes -->
        </table>
     </td></tr>
{% endblock %}
