@charset "utf-8";
/* CSS Document */

body .title2	{
    height: 20px;
}
html, body {
	margin: 0;
	height: 100%;
}
.body {
    margin: 0;
    background: #E9ECD7 url(bundles/poademo/images/bg_body.jpg) repeat-x;
}
.main {
	height: 100%;
}
table {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #364332;
}
table.text {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #364332;
    left: 0;
    right: 0;
}
div.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: #364332;
    width: 100%;
    /*display: block;*/
    /*text-align: center;*/
    /*display: inline-block;*/
}
div.centerdiv {
    border: none;
    width: 94%;
    margin: 0 auto;
    /*table-layout: fixed;*/
    /*float: clear;*/
    /*display: inline-block;*/
}
a:link, a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #663399;
	text-decoration: underline;
}
a:hover, a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	text-decoration: none;
}
.copyright, .copyright a:link, .copyright a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #899148;
	text-decoration: none;
}
.copyright a:hover, .copyright a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 9px;
	color: #333333;
	text-decoration: underline;
}
.leftnav {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #00C;
	font-weight: bold;
	text-align: right;
}
.leftnav a:link, .leftnav a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	text-decoration: none;
	font-weight: bold;
}
.leftnav a:hover, .leftnav a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
	font-weight: bold;
}
.leftnavbg {
    background: url(../bundles/poacore/images/bg_leftnav.jpg) no-repeat;
}
.textsmred {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: normal;
}
.textsmred a:link, .textsmred a:visited {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	text-decoration: underline;
}
.textsmred a:hover, .textsmred a:active {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	text-decoration: none;
}
.smwhite {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #900;
	font-weight: normal;
}
.smwhite a:link, .smwhite a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #900;
	text-decoration: underline;
}
.smwhite a:hover, .smwhite a:active {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000;
	text-decoration: none;
}
.title {
	font-family: "Trebuchet MS", Arial,sans-serif;
	font-size: 18px;
	font-weight: bold;
	color: #990000;
	letter-spacing: 3px;
    background: #DCE0BB url(../bundles/poacore/images/bg_title.jpg) no-repeat;
    padding-right: 20px;
	text-align: right;
}
.title3 {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 17px;
	font-weight: bold;
	color: #3C5E39;
	letter-spacing: 3px;
}
.formbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #333333;
	border: 1px solid #B78900;
}
.boldtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #990000;
	font-weight: bold;
}
.boldtext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #FC773F;
	font-weight: bold;
}
.boldtextbox {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #0000CC;
	font-weight: bold;
}
.title2 {
	font-family: "Trebuchet MS", Arial,sans-serif;
	font-size: 15px;
	font-weight: bold;
	color: #333333;
	text-align: center;
	letter-spacing: 1px;
	background-image: url(../bundles/poacore/images/bg_body.jpg);
}
.colortext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660066;
}
.colortext2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #660066;
}
.headersmtext {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 10px;
	color: #FFFFFF;
}
.bgleft {
	background-image: url(bundles/poademo/images/bg_left.jpg);
}
.bgtitle {
	background-image: url(bundles/poademo/images/bg_title.gif);
}
.bgleft {
    background: url(bundles/poademo/images/bg_bodyleft.jpg) repeat-x;
}
li {
	padding-bottom: 4px;
	padding-top: 4px;
}
.calendarhead {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	background-color: #EEF0DB;
}
.organizerrow  {  
	padding: 4px; 
	color:#000000; 
	font-weight:bold; 
	background-color: #E9EBD3; 
}
.organizerlight { 
	background-color: #F8F8EC; 
}
.dirviewtitle {
/*
	background-color: #82002B;
*/
	background-color: #003300	;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bolder;
	color: #FFFFFF;
	font-size: 13px;
}
.dirviewrow { 
/*
	background-color: #F7F8EF;
*/
	background-color: #006600;
}
/* Nav */
.roll a  {
	display:block;
	height: 38px;
	padding: 0;
	margin: 0;
}
.t_one a {
	background: url(../bundles/poacore/images/t_one.jpg) 0 0 no-repeat;
	width: 0;
}
.t_two a {
	background: url(../bundles/poacore/images/t_two.jpg) 0 0 no-repeat;
	width: 0;
}
.t_three a {
	background: url(../bundles/poacore/images/t_three.jpg) 0 0 no-repeat;
	width: 0;
}
.t_four a {
	background: url(../bundles/poacore/images/t_four.jpg) 0 0 no-repeat;
	width: 0;
}
.t_five a {
	background: url(../bundles/poacore/images/t_five.jpg) 0 0 no-repeat;
	width: 0;
}
.t_six a {
	background: url(../bundles/poacore/images/t_six.jpg) 0 0 no-repeat;
	width: 0;
}
.t_seven a {
	background: url(../bundles/poacore/images/t_seven.jpg) 0 0 no-repeat;
	width: 0;
}
.roll a:hover {
	background-position: 0 -38px;
}
.tnavpad	{
	padding: 5px 15px;
}
.faq_q {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #000000;
	font-weight: bold;
	/* background-color: #364332;	 */
}

/***** Main Layout ****/
#container {
  width: 100%;
  height: 100%;
  text-align: center;/* IE fix to center the page */
}

#content {
  width: 740px;
  margin: 0 auto;/* center the page in Firefox */
  text-align: left;
	padding: 20px;
}

/***** clearfix *****/
.clear {clear: both; height: 0; line-height: 0;}
.clearfix:after {content: "."; display: block; height: 0; clear: both; visibility: hidden;}
.clearfix {display: inline-block;}
/* Hides from IE-mac \*/
* html .clearfix {height: 1%;}
.clearfix {display: block;}
/* End hide from IE-mac */
.clearfix {height: 1%;}
.clearfix {display: block;}

/* Panel Tab/button */
.tab {
  background: url(../bundles/poacore/images/tab_b.png) repeat-x 0 0;
	height: 42px;
	position: relative;
	top: 0;
	z-index: 999;
}

.tab ul.login {
	display: block;
	position: relative;
  float: right;
  clear: right;
  height: 42px;
	width: auto;
  font-weight: bold;
	line-height: 42px;
	margin: 0;
	right: 150px;
  color: white;
  font-size: 80%;
	text-align: center;
}

.tab ul.login li.left {
  background: url(../bundles/poacore/images/tab_l.png) no-repeat left 0;
  height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
  display: block;
	float: left;
}

.tab ul.login li.right {
	background: url(../bundles/poacore/images/tab_r.png) no-repeat left 0;
	height: 42px;
	width: 30px;
	padding: 0;
	margin: 0;
	display: block;
	float: left;
}

.tab ul.login li {
	text-align: left;
	padding: 0 6px;
	display: block;
	float: left;
	height: 42px;
	background: url(../bundles/poacore/images/tab_m.png) repeat-x 0 0;
}

.tab ul.login li a {
	color: #15ADFF;
}

.tab ul.login li a:hover {
	color: white;
}

.tab .sep {color:#414141}

.tab a.open, .tab a.close {
	height: 20px;
	line-height: 20px !important;
	padding-left: 30px !important;
	cursor: pointer;
	display: block;
	width: 100px;
	position: relative;
	top: 11px;
}

.tab a.open {background: url(../bundles/poacore/images/bt_open.png) no-repeat left 0;}
.tab a.close {background: url(../bundles/poacore/images/bt_close.png) no-repeat left 0;}
.tab a:hover.open {background: url(../bundles/poacore/images/bt_open.png) no-repeat left -19px;}
.tab a:hover.close {background: url(../bundles/poacore/images/bt_close.png) no-repeat left -19px;}

/* sliding panel */
#toppanel {
    position: absolute;   /*Panel will overlap  content */
    /*position: relative;*/   /*Panel will "push" the content down */
    top: 0;
    width: 100%;
    z-index: 999;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#panel {
	width: 100%;
	height: 270px;
	color: #999999;
	background: #272727;
	overflow: hidden;
	position: relative;
	z-index: 3;
	display: none;
}

#panel h1 {
	font-size: 1.6em;
	padding: 5px 0 10px;
	margin: 0;
	color: white;
}

#panel h2{
	font-size: 1.2em;
	padding: 10px 0 5px;
	margin: 0;
	color: white;
}

#panel p {
	margin: 5px 0;
	padding: 0;
}

#panel a {
	text-decoration: none;
	color: #15ADFF;
}

#panel a:hover {
	color: white;
}

#panel a-lost-pwd {
	display: block;
	float: left;
}

#panel .content {
	width: 960px;
	margin: 0 auto;
	padding-top: 15px;
	text-align: left;
	font-size: 0.85em;
}

#panel .content .left {
	width: 280px;
	float: left;
	padding: 0 15px;
	border-left: 1px solid #333;
}

#panel .content .right {
	border-right: 1px solid #333;
}

#panel .content form {
	margin: 0 0 10px 0;
}

#panel .content label {
	float: left;
	padding-top: 8px;
	clear: both;
	width: 280px;
	display: block;
}

#panel .content input.field {
	border: 1px #1A1A1A solid;
	background: #414141;
	margin-right: 5px;
	margin-top: 4px;
	width: 200px;
	color: white;
	height: 16px;
}

#panel .content input:focus.field {
	background: #545454;
}

/* BUTTONS */
/* Login and Register buttons */
#panel .content input.bt_login,
#panel .content input.bt_register {
	display: block;
	float: left;
	clear: left;
	height: 24px;
	text-align: center;
	cursor: pointer;
	border: none;
	font-weight: bold;
	margin: 10px 0;
}

#panel .content input.bt_login {
	width: 74px;
	background: transparent url(../bundles/poacore/images/bt_login.png) no-repeat 0 0;
}

#panel .content input.bt_register {
	width: 94px;
	color: white;
	background: transparent url(../bundles/poacore/images/bt_register.png) no-repeat 0 0;
}

#panel .lost-pwd {
	display: block;
	float:left;
	clear: right;
	padding: 15px 5px 0;
	font-size: 0.95em;
	text-decoration: underline;
}

.openidconnect_icons_scroller {
	background-color:#272727;
	font-weight:700;
	padding:30px 5px;
	color:#555;
	cursor:pointer;
}
.openidconnect_icons_scroller:hover {
	background-color:#383838;
}

li.comment {
	border-style: groove groove; 
	border-width: thin; 
	padding: 1em;
	width: 75%;
}

ul.comment {
	list-style-type: none;
}

div.comment_date {
	color: gray; 
	font-size: 10px;
}

div.comment_link {
	color: purple;
    text-decoration: none;
	font-size: 10px;
}

div.comment_link A {
	text-decoration:none;
}

        .cmFloatLeft{float:left}
        .cmFloatRight{float:right}
        #main{margin:1em;width:640px}
        .hidden{display:none;}
        .cmConstrainContainer{background-color:#f00}
        .cmShowHide{text-decoration:none}

div.editable:hover {
    background: #F0F0F0;
    font-style: italic;
    cursor: text;
}

#pup {
  position:absolute;
  z-index:200; /* aaaalways on top*/
  padding: 3px;
  margin-left: 10px;
  margin-top: 5px;
  width: 250px;
  border: 1px solid black;
  background-color: #777;
  color: white;
  font-size: 0.95em;
}

.boldtext {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        color: #663366;
        font-weight: bold;
}
.boldtext2 {
        font-family: Verdana, Geneva, sans-serif;
        font-size: 12px;
        color: #990000;
        font-weight: bold;
}
.content2 {
        font-family: Verdana, Arial, sans-serif;
        font-size: 12px;
        color: #000;
        background-color: #FFF;
}

label {
    float: left;
    text-align: right;
    margin-right: 15px;
    width : 200px;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
    color: #663366;
    font-weight: bold;
}

/*
table.posts {
	border-width: thin;
	border-spacing: 5px;
	border-style: ridge;
	border-color: gray;
	border-collapse: separate;
}

table.posts th {
	border-width: 0px;
	padding: 3px;
	border-style: outset;
	border-color: gray;
	-moz-border-radius: ;
}
table.posts td {
	border-width: 0px;
	padding: 3px;
	border-style: outset;
	border-color: gray;
	background-color: white;
	-moz-border-radius: ;
}
*/
div.posts {
/*    border: thin dotted gray; */

    /*
    border-spacing: 5px;
*/
    border: thin outset gray;
    border-collapse: separate;
/*    border-spacing: 10px;*/
}

.comment_ui {
/*
  background-color:#f2f2f2;
  border-bottom:1px solid #e5eaf1;
*/
  clear:left;
/*
  float:none;
  overflow:hidden;
  margin-bottom:2px;
*/
/*
  padding:6px 4px 3px 6px;
*/
  padding:1px 4px 1px 6px;
  width:98%;
}

.comment_text {
/*	
	padding-bottom:2px;
*/
    margin:0 auto;
    width: 90%;
	padding-bottom:.4em;
	color:#333333
}

.comment_actual_text {
	display:inline;
	padding-left:.4em
}

.even {
/*
	background: #829263;
*/
	background: #CCCC99;
}

.odd {
/*
	background: #e3dfd3;
*/
	background: #CCCCCC;
}

.postbody {
    align: center;
	width: 90%;
/*    display:inline;
    float: left;*/
    padding: 10px;
}

a.largeButton:link, a.largeButton:visited, input[type="button"].largeButton {
float: left;
color: #555;
text-decoration: none;
font-size: 13px;
font-family: Arial;
background-image: url('../bundles/poacore/images/large_grey_button.png');
background-position: 0px 0px;
background-repeat: no-repeat;
height: 19px;
width: 96px;
padding: 5px 0px;
margin: 2px;
text-align: center;
}

/* jQuery.Rating Plugin CSS - http://www.fyneworks.com/jquery/star-rating/ */
div.rating-cancel,div.star-rating{float:left;width:17px;height:15px;text-indent:-999em;cursor:pointer;display:block;background:transparent;overflow:hidden}
div.rating-cancel,div.rating-cancel a{background:url(delete.gif) no-repeat 0 -16px}
div.star-rating,div.star-rating a{background:url(../admin2/busdirectory/images/star.gif) no-repeat 0 0px}
div.rating-cancel a,div.star-rating a{display:block;width:16px;height:100%;background-position:0 0px;border:0}
div.star-rating-on a{background-position:0 -16px!important}
div.star-rating-hover a{background-position:0 -32px}
/* Read Only CSS */
div.star-rating-readonly a{cursor:default !important}
/* Partial Star CSS */
div.star-rating{background:transparent!important;overflow:hidden!important}
/* END jQuery.Rating Plugin CSS */