{% if app.user.pets %}
        <tr><td>&nbsp;</td></tr>
        <tr><td align="right">
            <div class="kblock k-profile">
                <div class="kheader"><h2><span class="k-name">Pets</span></h2></div>
                <div class="kcontainer">
                    <div class="kbody">
                        <table class="kblocktable" id="kprofile">
                            <thead>
                                <tr>
                                    <td class="kcol-first kcol-left"></td>
                                    <td class="kcol-first kcol-left">Name</td>
                                    <td class="kcol-first kcol-left">Type</td>
                                    <td class="kcol-first kcol-left">Breed</td>
                                    <td class="kcol-first kcol-left">Active</td>
                                </tr>
                            </thead>
                            <tbody>
    {% for pet in app.user.pets %}
                                <tr>
                                    <td class="kcol-first kcol-left"></td>
                                    <td class="kcol-first kcol-left">pet.name</td>
                                    <td class="kcol-first kcol-left">pet.type</td>
                                    <td class="kcol-first kcol-left">pet.breed</td>
                                    <td class="kcol-first kcol-left">pet.active</td>
                                </tr>
    {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </td></tr>
{% endif %}