/*.pagerfanta {*/
    /*text-align: center;*/
/*}*/

.pagerfanta a, .pagerfanta span {
    display: inline-block;
    text-decoration: none !important;
    border: 1px solid #32ae08;
    color: #171717;
    margin-right: .2em;
    padding: .25em .35em;
 }

/*.pagerfanta a {*/
    /*text-decoration: none;*/
    /*color: #171717;*/
/*}*/

.pagerfanta a:hover {
    background: #6eb47a;
 }

.pagerfanta .dots {
    border-width: 0;
    }

.pagerfanta .current {
    background: #6eb47a;
    font-weight: bold;
    }

.pagerfanta .disabled {
    border-color: #6eb47a;
    color: #171717;
    }