{% extends 'PoaForumBundle::layout.html.twig' %}
{% block forum_content %}
<tr><td>
    <table width="100%" cellpadding="2" cellspacing="1" border="1" class="forumline">
        <thead>
        <tr>
            <th colspan="2" class="thCornerL" height="25" nowrap="nowrap">&nbsp;Forum&nbsp;</th>
            <th width="50" class="thTop" nowrap="nowrap">&nbsp;Topics&nbsp;</th>
            <th width="50" class="thTop" nowrap="nowrap">&nbsp;Posts&nbsp;</th>
            <th class="thCornerR" nowrap="nowrap">&nbsp;Last Post&nbsp;</th>
        </tr>
        </thead>
        <tbody>
            {% render(controller('PoaForumBundle:Category:list')) %}
        </tbody>
    </table>
</td></tr>
{% endblock %}
