{% extends 'PoaForumBundle::layout.html.twig' %}
{% block title %} - Search in forum{% endblock %}
{% block forum_content %}
<tr><td>
<div class="forum forum_search">
    <ul class="crumbs">
        <li>Forum</li>
    </ul>
    <form class="clearfix" action="{{ url('forum_index') }}" method="get">
        <div>
            <label for="q">{{ form_label(form.query) }}</label>
            <input type="text" name="q" value="{{ query }}" />
        </div>
        <div>
            <button type="submit" value="Search">Search</button>
        </div>
    </form>

    <div class="main topic">
        {% include 'PoaForumBundle:Post:list.html.twig' with {'posts': results } %}
    </div>
</div>
</td></tr>
{% endblock %}
